[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "retrobian-repo"]
	path = retrobian-repo
	url = https://git.stewarts.org.uk/thomasdstewart/retrobian-repo.git
[submodule "retrobian-img"]
	path = retrobian-img
	url = https://img.retrobian.org.uk/gitweb/retrobian-img
