[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "retrobian-repo"]
	path = retrobian-repo
	url = thomas@64.137.167.95:/var/www/html/retrobian-repo.git
[submodule "retrobian-img"]
	path = retrobian-img
	url = thomas@64.137.167.95:/var/www/html/retrobian-img.git
