[submodule "retrobian-repo"]
	path = retrobian-repo
	url = ssh://gitea@gitea.stewarts.org.uk:222/thomasdstewart/retrobian-repo.git
[submodule "retrobian-img"]
	path = retrobian-img
	url = ssh://gitea@gitea.stewarts.org.uk:222/thomasdstewart/retrobian-img.git
